body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#current_picture {
  height: 40vh;
  width: auto;
}

#alerts_container {
  height: 45vh;
  overflow-y: scroll;
}